#root {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 100%;
  min-height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
 }
 

.content-container {
  margin: 7rem 2rem 2rem 2rem;
  flex-grow: 1;
}
.navbar-container {
  background-color: var(--secondary);
  border-bottom: 1px solid var(--secondary-300);
  padding: 0.8rem 1rem;
  position: fixed;
  width:calc(100% - 2rem) ;
  top: 0;
  z-index: 3;
}

.navbar-container>*>*{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  background-color: var(--secondary);
  padding: 1.324rem;
  border-top: 1px solid var(--secondary-300);
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}

