@import url("https://fonts.googleapis.com/css?family=Murecho:700|Murecho:400");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Murecho;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;

  color-scheme: light dark;
  --short: 200ms;
  --long: 400ms;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: calc(100svh - 7.2rem);
  position: relative;
}

h1 {
  font-size: 3rem;
  line-height: 1.4;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  line-height: 1.4;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 400;
}
p {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  opacity: 0.8;
  letter-spacing: -0.5px;
}
b {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.5px;
}
hr {
  border-color: #6d6d6d93;
}

button {
  border-radius: 0.5rem;
  border: 2px solid transparent;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: filter var(--short) linear;
  filter: brightness(1);
  letter-spacing: -0.5px;
  background-color: inherit;
}
button:hover,
button:focus,
button:focus-visible,
.go-back:hover,
.go-back:focus,
.go-back:focus-visible,
.logout:hover,
.logout:focus,
.logout:focus-visible {
  filter: brightness(0.8);
}
.primary-button {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--background);
}
.accent-button {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--background);
}
.outlined-button {
  border: 2px solid var(--primary);
  color: var(--primary);
}
.delete-button {
  background-color: hsl(0, 100%, 90%);
  color: hsl(0, 83%, 40%);
  border-color: hsl(0, 83%, 40%);
}
.disabled {
  cursor: default;
  filter: brightness(1);
  opacity: 0.5;
}
.disabled:hover,
.disabled:focus {
  cursor: default;
  filter: brightness(1);
  opacity: 0.5;
}
.icon {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: opacity var(--short) ease-in-out;
}
.icon:hover,
.icon:focus {
  opacity: 0.7;
}

input {
  font-family: inherit;
  border-radius: 0.5rem;
  border: 1px solid;
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5rem 1.5rem;
  letter-spacing: -0.5px;
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
  transition: filter var(--short) linear;
  filter: brightness(0.8);
  letter-spacing: -0.5px;
}
a:hover,
a:focus,
a:focus-visible {
  filter: brightness(1);
}
.active {
  filter: brightness(1);
}

/* .cards-container-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */
.cards-container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-container-center > * {
  width: calc(80% - 3rem);
}
.filled-card {
  cursor: pointer;
  background-color: var(--secondary-300);
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin: 1rem 0;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  transition: scale var(--short) ease-in-out,
    box-shadow var(--short) ease-in-out;
}
.filled-card img {
  height: 10rem;
  width: 15rem;
}
.filled-card span {
  font-weight: 300;
}
.no-click{
  cursor: default;
}
.dashed-card {
  cursor: pointer;
  border: 0.5rem dashed var(--text-900);
  background-color: var(--secondary-100);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin: 1rem 0;
  transition: scale var(--short) ease-in-out;
}
.outlined-card {
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin: 1rem 0;
  border: 2px solid var(--text);
}
.small-card {
  width: calc(60% - 4rem);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}
.filled-card:hover,
.filled-card:focus {
  scale: 1.03;
  box-shadow: 0px 0px 20px 10px var(--background-900);
}
.no-click:hover,
.no-click:focus {
  scale: 1;
  box-shadow: none;
}
.dashed-card:hover,
.dashed-card:focus {
  scale: 0.98;
}
.go-back,
.logout {
  cursor: pointer;
  transition: filter var(--short) linear;
  filter: brightness(1);
  font-size: 1.8rem;
}
.edit {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.date-inputs {
  display: flex;
  gap: 2rem;
}
.date-inputs > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ReactModal__Overlay {
  background-color: hsla(0, 0%, 10%, 0.5) !important;
}
.ReactModal__Content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-300) !important;
}
.smaller-skeleton{
  width: 80%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}
.header {
  position: relative;
  font-size: 5rem;
  text-shadow: 0 0 30px var(--primary);
}
.header::after {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -1.25ch;
  left: 9ch;
  aspect-ratio: 1 / 1;
  height: 5ch;
  z-index: -1;
}
.bold{
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: inherit;
  }
  .Toastify__toast-theme--light {
    background: var(--toastify-color-dark);
    color: var(--toastify-text-color-dark);
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: var(--toast-toast-top);
    transform: translateX(0);
    max-width: 92%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(204, 18%, 11%);
    --background: hsl(90, 25%, 98%);
    --primary: hsl(167, 100%, 33%);
    --secondary: hsl(214, 11%, 88%);
    --accent: hsl(169, 100%, 18%);

    --text-50: hsl(204, 20%, 95%);
    --text-100: hsl(207, 18%, 90%);
    --text-200: hsl(203, 18%, 80%);
    --text-300: hsl(204, 18%, 70%);
    --text-400: hsl(203, 18%, 60%);
    --text-500: hsl(204, 18%, 50%);
    --text-600: hsl(203, 18%, 40%);
    --text-700: hsl(204, 18%, 30%);
    --text-800: hsl(203, 18%, 20%);
    --text-900: hsl(207, 18%, 10%);
    --text-950: hsl(204, 20%, 5%);

    --background-50: hsl(90, 23%, 95%);
    --background-100: hsl(88, 25%, 90%);
    --background-200: hsl(90, 25%, 80%);
    --background-300: hsl(89, 25%, 70%);
    --background-400: hsl(91, 25%, 60%);
    --background-500: hsl(90, 25%, 50%);
    --background-600: hsl(91, 25%, 40%);
    --background-700: hsl(89, 25%, 30%);
    --background-800: hsl(90, 25%, 20%);
    --background-900: hsl(88, 25%, 10%);
    --background-950: hsl(90, 23%, 5%);

    --primary-50: hsl(166, 100%, 95%);
    --primary-100: hsl(167, 100%, 90%);
    --primary-200: hsl(167, 100%, 80%);
    --primary-300: hsl(167, 100%, 70%);
    --primary-400: hsl(167, 100%, 60%);
    --primary-500: hsl(167, 100%, 50%);
    --primary-600: hsl(167, 100%, 40%);
    --primary-700: hsl(167, 100%, 30%);
    --primary-800: hsl(167, 100%, 20%);
    --primary-900: hsl(167, 100%, 10%);
    --primary-950: hsl(166, 100%, 5%);

    --secondary-50: hsl(220, 12%, 95%);
    --secondary-100: hsl(216, 10%, 90%);
    --secondary-200: hsl(215, 12%, 80%);
    --secondary-300: hsl(215, 11%, 70%);
    --secondary-400: hsl(213, 11%, 60%);
    --secondary-500: hsl(213, 11%, 50%);
    --secondary-600: hsl(213, 11%, 40%);
    --secondary-700: hsl(215, 11%, 30%);
    --secondary-800: hsl(215, 12%, 20%);
    --secondary-900: hsl(216, 10%, 10%);
    --secondary-950: hsl(200, 12%, 5%);

    --accent-50: hsl(168, 100%, 95%);
    --accent-100: hsl(169, 100%, 90%);
    --accent-200: hsl(169, 100%, 80%);
    --accent-300: hsl(169, 100%, 70%);
    --accent-400: hsl(169, 100%, 60%);
    --accent-500: hsl(169, 100%, 50%);
    --accent-600: hsl(169, 100%, 40%);
    --accent-700: hsl(169, 100%, 30%);
    --accent-800: hsl(169, 100%, 20%);
    --accent-900: hsl(169, 100%, 10%);
    --accent-950: hsl(168, 100%, 5%);
  }
  .header::after {
    background-image: url("./assets//tripel/primary-background-light.png");
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(204, 18%, 89%);
    --background: hsl(202, 16%, 13%);
    --primary: hsl(167, 100%, 33%);
    --secondary: hsl(202, 23%, 16%);
    --accent: hsl(169, 100%, 18%);

    --text-50: hsl(204, 20%, 5%);
    --text-100: hsl(207, 18%, 10%);
    --text-200: hsl(203, 18%, 20%);
    --text-300: hsl(204, 18%, 30%);
    --text-400: hsl(203, 18%, 40%);
    --text-500: hsl(204, 18%, 50%);
    --text-600: hsl(203, 18%, 60%);
    --text-700: hsl(204, 18%, 70%);
    --text-800: hsl(203, 18%, 80%);
    --text-900: hsl(207, 18%, 90%);
    --text-950: hsl(204, 20%, 95%);

    --background-50: hsl(195, 15%, 95%);
    --background-100: hsl(200, 18%, 90%);
    --background-200: hsl(203, 16%, 80%);
    --background-300: hsl(202, 16%, 70%);
    --background-400: hsl(202, 16%, 60%);
    --background-500: hsl(202, 16%, 50%);
    --background-600: hsl(203, 16%, 40%);
    --background-700: hsl(202, 16%, 30%);
    --background-800: hsl(203, 16%, 20%);
    --background-900: hsl(200, 18%, 10%);
    --background-950: hsl(210, 15%, 5%);

    --primary-50: hsl(166, 100%, 5%);
    --primary-100: hsl(167, 100%, 10%);
    --primary-200: hsl(167, 100%, 20%);
    --primary-300: hsl(167, 100%, 30%);
    --primary-400: hsl(167, 100%, 40%);
    --primary-500: hsl(167, 100%, 50%);
    --primary-600: hsl(167, 100%, 60%);
    --primary-700: hsl(167, 100%, 70%);
    --primary-800: hsl(167, 100%, 80%);
    --primary-900: hsl(167, 100%, 90%);
    --primary-950: hsl(166, 100%, 95%);

    --secondary-50: hsl(200, 23%, 5%);
    --secondary-100: hsl(202, 22%, 10%);
    --secondary-200: hsl(203, 24%, 20%);
    --secondary-300: hsl(202, 23%, 30%);
    --secondary-400: hsl(202, 23%, 40%);
    --secondary-500: hsl(202, 23%, 50%);
    --secondary-600: hsl(202, 23%, 60%);
    --secondary-700: hsl(202, 23%, 70%);
    --secondary-800: hsl(203, 24%, 80%);
    --secondary-900: hsl(202, 22%, 90%);
    --secondary-950: hsl(200, 23%, 95%);

    --accent-50: hsl(168, 100%, 5%);
    --accent-100: hsl(169, 100%, 10%);
    --accent-200: hsl(169, 100%, 20%);
    --accent-300: hsl(169, 100%, 30%);
    --accent-400: hsl(169, 100%, 40%);
    --accent-500: hsl(169, 100%, 50%);
    --accent-600: hsl(169, 100%, 60%);
    --accent-700: hsl(169, 100%, 70%);
    --accent-800: hsl(169, 100%, 80%);
    --accent-900: hsl(169, 100%, 90%);
    --accent-950: hsl(168, 100%, 95%);
  }
  .header::after {
    background-image: url("./assets//tripel/primary-background-dark.png");
  }
}
