/* HOTELS */
.hotels-container{
    display: flex;
    position: relative;
    gap: 5rem;
}
.hotels-container>*:not(.map-container){
flex: 1;
text-align: start;
}
.map-container{
    position: static;
    width: 50%;
}
