/* LOGIN */
.password-input{
    position: relative;
}
.password-icon{
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}

.or {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  .or hr {
    transform: rotate(0);
    width: 50%;
    border: none;
    border-top: 1px solid var(--secondary-300);
    margin: 0 1rem;
  }
/* REGISTER */


/* NVABAR */
.navbar{
  display: flex;
  gap: 1rem;
}

/* HOME */


/* ERROR PAGE */
.error{
    min-height:75vh;
    min-height:75dvh;
    min-height:75svh;
    display: grid;
    place-items: center;
}